.price{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding-left: 65px;
    padding-right: 65px;
    
}
.standard{
    
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 7px;
    height: 442px;
    width: 370.66px;
}

.team{
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 7px;
    height: 442px;
    width: 370.66px;


}

.pro{
    background-color: #0d1b2a;
    color: #ffffff;
    border-radius: 8px;
    padding: 7px;
    height: 442px;
    width: 370.66px;

}

.std-btn{
    width: 304.66px;
    height: 45px;

    border: 1px solid #888888;
    border-radius: 8px;

    background-color: white;
    color: #0d1b2a;
}

.pro-btn{
    width: 304.66px;
    height: 45px;

    background-color: #2563eb;
    color: white;

    border: 1px solid #2563eb;
    border-radius: 8px;
}

.cts-btn{
    width: 304.66px;
    height: 45px;

    border: 1px solid #888888;
    border-radius: 8px;

    background-color: white;
}

.price-btn{
    
    padding-left: 30px;
    margin-top: 45px;
    
}

.listt{
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 25px;
    font-size: 1.2rem;
}
.listt li::marker{
    padding-top: 25px;
    color: #2563eb;
    font-size: 1.2em;
}

.phead{
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e7eb;
    
}

.pro-btn:hover{
    background-color:  rgb(108, 206, 124);
}
.std-btn:hover{
    background-color:  rgb(108, 206, 124);
}
.cts-btn:hover{
    background-color:  rgb(108, 206, 124);
}